<div class="file-tree-container p-3">
  <!-- Кнопка добавления вкладки -->
  <button
    (click)="addTab()"
    *ngIf="((tabs$ | async)?.length || 0) < 2"
    class="flex gap-2 hover:scale-125 transition-transform duration-300"
    title="Добавить вкладку"
  >
    <span class="material-symbols-outlined"> add_circle </span>
    <p>Добавить вкладку</p>
  </button>
  <!-- Контейнер для компонентов file-tree -->
  <div class="flex gap-4">
    <ng-container *ngFor="let tab of tabs$ | async">
      <app-file-tree
        [tab]="tab"
        [activeTabId]="activeTabId$ | async"
      ></app-file-tree>
    </ng-container>
  </div>
</div>
