<div class="file-tree-container p-3">
  <!-- Кнопка добавления вкладки, показывается только если вкладок меньше двух -->
  <button
    (click)="addTab()"
    *ngIf="tabs.length < 2"
    class="flex gap-2 hover:scale-125 transition-transform duration-300"
    title="Добавить вкладку"
  >
    <span class="material-symbols-outlined"> add_circle </span>
    <p>Добавить вкладку</p>
  </button>
  <app-file-tab (tabRemove)="removeTab($event)" [tabs]="tabs"></app-file-tab>
  <!-- Контейнер для компонентов file-tree -->
  <div class="tabs grid grid-cols-1 gap-4">
    <ng-container *ngFor="let tab of tabs">
      <!-- Можно передать уникальные данные через Input, если требуется -->
      <app-file-tree></app-file-tree>
    </ng-container>
  </div>
</div>
