<button
  (click)="addRandomProcedure()"
  class="bg-green-500 hover:bg-green-600 text-white px-3 py-2 rounded mb-4"
>
  Добавить случайную процедуру
</button>

<div
  (cdkDropListDropped)="drop($event)"
  [cdkDropListConnectedTo]="['procedureList']"
  [cdkDropListData]="procedures"
  cdkDropList
  class="h-full w-full"
  id="procedureGraphList"
>
  <div
    *ngFor="let procedure of procedures; let i = index"
    cdkDrag
    class="procedure-item"
  >
    <div class="procedure-content">
      {{ i + 1 }}. {{ procedure.name }} - {{ procedure.parameters | json }}
    </div>
  </div>
</div>
