<div class="flex items-center">
  <mat-tab-group [(selectedIndex)]="selectedTabIndex" class="w-full">
    <mat-tab *ngFor="let window of projectWindows; let index = index">
      <ng-template mat-tab-label>
        <mat-icon class="mr-2 text-primary">folder</mat-icon>
        <span class="text-primary mr-8">
          {{
            window.projectInfo
              ? window.projectInfo.objectName +
                ' / ' +
                window.projectInfo.profileName
              : 'Новое окно'
          }}
        </span>
        <button
          mat-icon-button
          color="warn"
          (click)="removeTab(index, $event)"
          matTooltip="Закрыть окно"
        >
          <mat-icon class="text-primary">close</mat-icon>
        </button>
      </ng-template>
      <app-main-page [projectWindow]="window"></app-main-page>
    </mat-tab>
  </mat-tab-group>

  <button
    mat-icon-button
    color="primary"
    (click)="addTab()"
    matTooltip="Добавить окно"
    style="margin-left: 8px"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
