<div class="bg-blue-700 p-12 flex justify-between items-center">
  <div class="flex gap-4 items-center">
    <img
      src="/assets/InterSeis.ico"
      alt="Логотип InterSeis"
      class="w-12 h-12"
    />
    <div class="text-white font-geometria">
      <p class="font-bold text-3xl">INTERSEIS</p>
      <p class="text-sm">seismic data processing</p>
    </div>
  </div>
  <app-navbar></app-navbar>
  <mat-accordion class="flex justify-between gap-4 font-geometria">
    <!-- Перебираем все пункты меню -->
    <mat-expansion-panel *ngFor="let item of menuItems" class="w-52">
      <!-- Заголовок панели -->
      <mat-expansion-panel-header
        class="flex justify-between items-center w-full !important"
      >
        <div class="flex items-center gap-2 flex-1">
          <mat-icon class="w-6 h-6">
            <img
              [src]="item.iconPath"
              alt="{{ item.title }}"
              class="w-full h-full"
            />
          </mat-icon>
          <span class="text-base font-medium text-white">{{ item.title }}</span>
        </div>
      </mat-expansion-panel-header>
      <!-- Кнопки внутри выпадающего меню -->
      <div class="p-2 text-white">
        <button
          mat-button
          *ngFor="let sub of item.submenu"
          class="w-full text-left"
        >
          {{ sub }}
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
