<div class="file-tree-container">
  <div class="flex gap-4 items-center p-2 border-b-4 border-primary">
    <button
      (click)="selectFolder()"
      title="Выбрать папку"
      class="hover:scale-125 transition-transform duration-300"
    >
      <span class="material-symbols-outlined"> folder </span>
    </button>

    <button
      (click)="createFolder()"
      title="Создать папку"
      class="hover:scale-125 transition-transform duration-300"
    >
      <span class="material-symbols-outlined"> create_new_folder </span>
    </button>

    <button
      title="Удалить папку"
      class="hover:scale-125 transition-transform duration-300"
      (click)="deleteCurrentFolder()"
    >
      <span class="material-symbols-outlined"> delete </span>
    </button>
  </div>
  <div>
    <app-folder-path
      [currentPath]="currentFolderPath"
      (pathChanged)="onPathChanged($event)"
    >
    </app-folder-path>
  </div>

  <div *ngIf="isLoading">Загрузка...</div>
  <ul *ngIf="fileTree && fileTree.length">
    <li *ngFor="let node of fileTree">
      <app-file-tree-node
        [node]="node"
        (folderSelected)="onFolderSelected($event)"
      ></app-file-tree-node>
    </li>
  </ul>
</div>
