<div class="flex h-[90vh]">
  <div
    #sidebar
    class="flex flex-col sidebar w-64 flex-shrink-0 min-w-[400px] max-w-[800px] h-full"
  >
    <div
      class="p-4 bg-primary text-white select-none text-center text-lg font-bold"
    >
      Файлы обработки
    </div>
    <app-file-tree
      [projectInfo]="projectWindow.projectInfo"
      class="flex-1 overflow-auto select-none w-100%"
    ></app-file-tree>

    <div class="p-4 bg-primary text-white select-none h-64">
      <app-project-info
        [projectInfo]="projectWindow.projectInfo"
      ></app-project-info>
    </div>
  </div>

  <div
    (mousedown)="startResizing($event, 'left')"
    class="resizer bg-primary min-w-[10px]"
  ></div>

  <div class="main-content flex-1 bg-gray-100 flex flex-col min-w-[400px]">
    <div
      class="p-4 select-none text-center bg-primary text-white text-lg font-bold"
    >
      Граф обработки
    </div>

    <div class="flex-1 overflow-auto select-none">
      <app-procedure-graph
        #procedureGraph
        [projectInfo]="projectWindow.projectInfo"
      ></app-procedure-graph>
    </div>

    <div class="bg-primary text-white select-none h-64">
      <app-logs></app-logs>
    </div>
  </div>

  <div
    (mousedown)="startResizing($event, 'right')"
    class="resizer bg-primary min-w-[10px]"
  ></div>

  <div
    #procedures
    class="flex flex-col procedures w-64 flex-shrink-0 min-w-[200px] max-w-[800px] h-full"
  >
    <div
      class="p-4 bg-primary select-none text-center text-white text-lg font-bold"
    >
      Процедуры
    </div>

    <div class="flex-1 overflow-auto select-none">
      <app-procedure-list></app-procedure-list>
    </div>

    <div
      class="p-4 bg-primary text-white select-none text-center text-lg font-bold h-64"
    >
      Фильтры
    </div>
  </div>
</div>
