<div
  (click)="onClick($event)"
  (dblclick)="onDoubleClick($event)"
  class="node flex items-center gap-1"
>
  <span *ngIf="node.type === 'folder'" class="material-symbols-outlined">
    {{ node.isOpen ? 'folder_open' : 'folder' }}
  </span>
  <span *ngIf="node.type === 'file'" class="material-symbols-outlined">
    docs
  </span>
  <span class="hover:text-primary">{{ node.name }}</span>
</div>
<ul *ngIf="node.type === 'folder' && node.isOpen && node.children">
  <li *ngFor="let child of node.children">
    <app-file-tree-node
      (folderSelected)="folderSelected.emit($event)"
      [node]="child"
    ></app-file-tree-node>
  </li>
</ul>
