@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geometria';
  src: url('/assets/fonts/Geometria-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('/assets/fonts/Geometria-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('/assets/fonts/Geometria-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('/assets/fonts/Geometria-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Применение шрифта ко всему документу */
body {
  font-family: 'Geometria', sans-serif;
  height: 100%;
  overflow: hidden; // Убираем вертикальный скролл
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* Ширина полосы прокрутки */
::-webkit-scrollbar {
  width: 8px;
}

/* Полоса прокрутки — трек */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Полоса прокрутки — ползунок */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* При наведении курсора */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scroll-hidden {
  overflow: auto;
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}

.scroll-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
